<div class="modal fade"  id="new-question-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">New question</h4>
      </div>
      <form action="/questions" method="post">
      <%= form_for :question, url: "/quesions" do %>
        <div class="modal-body">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" value="<%= current_user_email %>" name="question[email]" class="form-control" id="exampleInputEmail1" placeholder="Email" required="true">
          </div>
          <div class="form-group">
            <label for="inputQuestion">Question</label>
            <textarea class="form-control" name="question[body]" id="inputQuestion" placeholder="What do you wanna know?" required></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" value="Submit" class="btn btn-primary">
        </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
